@model IEnumerable<TiendaRecargas.Models.Promociones>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Primer día de la promoción
            </th>

            <th>
                Promoción
            </th>


            <th>
                Bono
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.primerDiaPromocion)
            </td>
            <td>
                <textarea asp-for="@item.texto" class="form-control" readonly rows="5"></textarea>
            </td>

            <td>
                <textarea asp-for="@item.bono" class="form-control" readonly rows="3"></textarea>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="mr-3"><i style="color:green" class="fas fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
