@model TiendaRecargas.Models.AccountEditar

@{

}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header small">
                <div class="row d-flex justify-content-between p-2">
                    <div>
                        <b>CREAR CUENTA</b>
                    </div>

                </div>

            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Nombre" placeholder="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Apellido" placeholder="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Telefono" type="number" placeholder="Teléfono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <input asp-for="Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" placeholder="Confirmar Password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>*@
                    <div>
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">@ViewBag.Error</div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                        <a class="btn btn-danger btn-sm form-control form-control-sm" asp-action="Index">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

