@model TiendaRecargas.Models.Recarga

@{
    ViewData["Title"] = "Index";
}

@*SELECIONA EL idValorRecarga seleccionado cuando el Model.IsInvalid*@
@if (Model != null)
{
    <input id="isValorSeleccionado" type="hidden" asp-for="@Model.idValorRecarga" />
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-5">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select id="tipoRecarga" asp-for="tipoRecarga" asp-items="Html.GetEnumSelectList<TipoRecarga>()" class="form-control form-control-sm">
                </select>
                <span asp-validation-for="tipoRecarga" class="text-danger"></span>
            </div>

            <div class="row mb-0">

                @*MOVIL*@
                <div id="numeroMovil" class="form-group col-8">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">+53</span>
                        </div>
                        <input class="form-control form-control-sm" type="number" asp-for="numero" />
                    </div>
                    <span asp-validation-for="numero" class="text-danger"></span>
                </div>

                @*NAUTA*@
                <div id="coreoNauta" class="form-group col-8 mr-0">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm" type="text" asp-for="nauta" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1" style="font-size:12px">@("@")nauta.com.cu</span>
                        </div>
                    </div>                   
                    <span asp-validation-for="nauta" class="text-danger"></span>
                </div>

                <div class="form-group col-4 mb-0">
                    <div class="input-group input-group-sm  mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">$</span>
                        </div>
                        <select id="idValorRecarga" asp-for="idValorRecarga" class="form-control form-control-sm">
                        </select>

                    </div>
                    <span asp-validation-for="idValorRecarga" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group mb-2">
                <input class="form-control form-control-sm" asp-for="descripcion" placeholder="Descripción (Opcional)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar a la lista" class="btn btn-primary form-control form-control-sm mb-2" />
            </div>

        </form>

    </div>
</div>


<div class="card">
    <div class="card-header small">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>LISTA DE RECARGAS</b>
            </div>
            <div>
                <a asp-action="Recargar" class="btn btn-success btn-sm">Enviar</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        @*BODY CARD*@
        <table class="table table-striped">

            <tbody>
                @if (ViewBag.RecargasEnLista != null && ViewBag.RecargasEnLista.Count > 0)
                {
                    @foreach (var item in ViewBag.RecargasEnLista)
                    {
                        <tr>
                            <td class="w-100">
                                <div class="d-flex">
                                    @if (item.tipoRecarga == TipoRecarga.movil)
                                    {
                                        <img width="20" src="~/img/sim_card.png" />
                                    }
                                    @if (item.tipoRecarga == TipoRecarga.nauta)
                                    {
                                        <img width="20" src="~/img/wifi.png" />
                                    }
                                    <b>@item.numero</b>
                                </div>
                            </td>
                            <td>
                                <b>$@item.monto.ToString("F2")</b>
                            </td>

                            <td>
                                <a class="btn btn-outline-info" onclick="DeleteRecarga(@item.id)"><i style="color:red" class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td style="text-align:center">
                            <h5>No hay recargas en la lista</h5>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @*FIN BODY CARD*@
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/recarga/index.js"></script>