@model TiendaRecargas.Models.CuentaUpdatePassword

@{
    ViewData["Title"] = "UpdatePassword";
}

<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idCuenta" />
            <input type="hidden" asp-for="Usuario" />

            @*Nombre*@
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <input asp-for="Usuario" disabled class="form-control" />
                </div>
            </div>

            @*PASSWORD*@
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-shield-alt"></i>
                        </span>
                    </div>
                    <input asp-for="Password" autocomplete="off" placeholder="Contraseña" type="password" class="form-control" />
                </div>

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            @*CONFIRMAR_PASSWORD*@
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-shield-alt"></i>
                        </span>
                    </div>
                    <input asp-for="ConfirmPassword" autocomplete="off" type="password" placeholder="Confirmar Contraseña" class="form-control" />

                </div>

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                <a class="btn btn-danger btn-sm form-control form-control-sm" asp-action="Index">Cancelar</a>
            </div>

        </form>
    </div>
</div>

@*FIN BODY CARD*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
